server:
  port: 8081
  context-path: /springBoot
  jsp-servlet:
    init-parameters:
      development: true


spring:
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource
    url: jdbc:mysql://localhost:3306/baizhi
    driver-class-name: com.mysql.jdbc.Driver
    username: root
    password: 123456

  mvc:
    view:
      prefix: /
      suffix: .jsp
  http:
    multipart:
      max-file-size: 10MB
      max-request-size: 100MB


mybatis:
  type-aliases-package: com.baizhi.entity
  mapper-locations: classpath:com/baizhi/mapping/*Mapper.xml



